<% if @dashboard.submission_pending? %>
  <%= link_to "Submit today's chart", new_submission_path %>
<% end %>

<div class="container">
  <div class="row">
    <div id="weeklyScores"></div>
  </div>
  <div class="row">
    <div id="allTimeScores"></div>
  </div>
  </br>
  </br>
  </br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4"
      <div id="stats">
        <table class="table table-bordered">
          <tr class="success">
            <th>Best this week</th>
            <td><%= @dashboard.best_this_week %></td>
          </tr>
          <tr class="danger">
            <th>Worst this week</th>
            <td><%= @dashboard.worst_this_week %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
 $(function () {
   $("#weeklyScores").highcharts({
     chart: {
       type: "spline"
     },
     title: {
       text: "Weekly Scores",
       x: -20 //center
     },
     legend: {
       enabled: false
     },
     xAxis: {
       categories: <%= @dashboard.last_seven_days.to_s.html_safe %>
     },
     yAxis: {
       title: {
         text: "Percent (%)"
       },
       plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
       }]
     },
     tooltip: {
       valueSuffix: "%"
     },
     plotOptions: {
       spline: {
         lineWidth: 4,
         marker: {
           enabled: false
         }
       }
     },
     series: [{
       name: 'Score',
       data: <%= @dashboard.daily_percentages %>
     }]
   });
 });

 $(function () {
   $("#allTimeScores").highcharts({
     chart: {
       type: "spline"
     },
     title: {
       text: "All Time",
       x: -20 //center
     },
     legend: {
       enabled: false
     },
     xAxis: {
       categories: <%= @dashboard.weeks_all_time.to_s.html_safe %>,
       title: {
         text: "Week no."
       }
     },
     yAxis: {
       title: {
         text: "Percent (%)"
       },
       plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
       }]
     },
     tooltip: {
       valueSuffix: "%"
     },
     plotOptions: {
       spline: {
         lineWidth: 4,
         marker: {
           enabled: false
         }
       }
     },
     series: [{
       name: 'Score',
       data: <%= @dashboard.weekly_averages %>
     }]
   });
 });
</script>
