<% if @dashboard.submission_pending? %>
  <%= link_to "Submit today's chart", new_submission_path %>
<% end %>
<div id="weeklyScores"></div>
<div id="allTimeScores"></div>
<script>
 $(function () {
   $("#weeklyScores").highcharts({
     chart: {
       type: "spline"
     },
     title: {
       text: "Weekly Scores",
       x: -20 //center
     },
     legend: {
       enabled: false
     },
     xAxis: {
       categories: <%= @dashboard.last_seven_days.to_s.html_safe %>
     },
     yAxis: {
       title: {
         text: "Percent (%)"
       },
       plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
       }]
     },
     tooltip: {
       valueSuffix: "%"
     },
     plotOptions: {
       spline: {
         lineWidth: 4,
         marker: {
           enabled: false
         }
       }
     },
     series: [{
       name: 'Score',
       data: <%= @dashboard.daily_percentages %>
     }]
   });
 });

 $(function () {
   $("#allTimeScores").highcharts({
     chart: {
       type: "spline"
     },
     title: {
       text: "All Time",
       x: -20 //center
     },
     legend: {
       enabled: false
     },
     xAxis: {
       categories: <%= @dashboard.weeks_all_time.to_s.html_safe %>,
       title: {
         text: "Week no."
       }
     },
     yAxis: {
       title: {
         text: "Percent (%)"
       },
       plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
       }]
     },
     tooltip: {
       valueSuffix: "%"
     },
     plotOptions: {
       spline: {
         lineWidth: 4,
         marker: {
           enabled: false
         }
       }
     },
     series: [{
       name: 'Score',
       data: <%= @dashboard.weekly_averages %>
     }]
   });
 });
</script>
