<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://code.highcharts.com/highcharts.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-inner">
        <%= link_to "Daily Chart", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Edit", edit_chart_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if signed_in? -%>
              <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
            <% else -%>
              <%= link_to t(".sign_in"), sign_in_path %>
            <% end -%>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>" class="<%= key %>"><%=h value %></div>
      <% end %>
    </div>

    <%= yield %>
  </div>
</body>
</html>
